/* The navigation bar */
.nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 50%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Nav Links- Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.searchbar {
  display: grid;
  grid-column: 1/4;
  grid-row: 2/3;
}

.navbar {
  background-color: rgb(22, 94, 49);
  top: 0px;
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
}
.nav a {
  color: white;
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}

.searchbar {
  background-color: (187, 195, 186);
}

.searchbar a {
  color: white;
}

input:focus {
  outline-color: gold;
}

/* Buttons and change on hover */
button {
  background-color: rgb(177, 207, 157);
}

button:hover {
  background: #ddd;
}

/* Explore Button */

.explore-btn {
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 20px;
}

footer {
  padding-top: 20px;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

main {
  padding-bottom: 20px;
}
